@model List<Learn_ASP.Models.Item>
@{
	ViewData["Title"] = "Index";
}

<h3>Index</h3>

<a asp-action="Create" class="btn btn-success btn-sm">
	Add Item
</a>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Serial Number</th>
			<th>Category</th>
			<th>Client</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>Rp. @item.Price.ToString("N2")</td>
				<td>@item.SerialNumber?.Name</td>
				<td>@item.Category?.Name</td>
				<td>
					@foreach(var client in item.ItemClients)
					{
						@client.Client?.Name
					}
				</td>
				<td>
					<a asp-action="Edit"
						asp-route-id="@item.Id"
						class="btn btn-warning btn-sm">
						Edit
					</a>
					<a asp-action="Delete"
						asp-route-id="@item.Id"
						class="btn btn-danger btn-sm">
					 	Delete
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>